
.App{
  height: 92vh;
  padding: 30px;
  background-image: linear-gradient(to top, #f5ac6c, #f7f5a6);
  overflow-y: scroll;
}
.my-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #0f0f0f;
  border-radius: 5px;
  
}

.my-table th, .my-table td {
  border: 1px solid #0f0f0f;
  padding: 8px;
  text-align: left;
  
}

.my-table th {
  background-color: #ffffff;
}
.error-msg{
  font-family: "Roboto";
  font-size: 16px;
  color: #f63711;
}